@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Bricolage Grotesque', 'Inter', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  background-color: #28202c;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bricolage Grotesque', 'Inter', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
}


html {
  font-size: 100%;
  overflow-x: hidden;
} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}
@keyframes pulseDot {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-ripple {
  animation: ripple 1.5s infinite ease-out;
}
.animate-pulseDot {
  animation: pulseDot 1.5s infinite ease-in-out;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradient 6s ease infinite;
}

/* Position pagination container */
.swiper-pagination {
  @apply !absolute !bottom-14 !px-6 md:!bottom-6 !left-1/2 !-translate-x-1/2 !flex items-center !justify-center !gap-1 !z-50;
}

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
  /* opacity: 0.9 !important; */
  cursor: not-allowed !important;
  pointer-events: none !important;
}

/* Reset Swiper defaults */
.swiper-pagination-bullet {
  background: none !important;
  opacity: 1 !important;
}

/* Base pagination dash */
.custom-bullet {
  display: inline-block;
  width: 28px !important;
  height: 4px !important;
  border-radius: 9999px !important;
  background-color: #df99ff !important; /* light purple default */
  margin: 0 2px !important;
  transition: all 0.3s ease;
}
/* Seen bullets (past slides, stays darker) */
.custom-bullet.seen {
  background-color: #4d0070 !important; /* deep purple */
}

/* Active bullet (longer + brighter) */
.custom-bullet.swiper-pagination-bullet-active {
  width: 38px !important;
  background-color: #be33ff !important; /* vivid purple */
}

.picture {
  position: relative; 
  overflow: hidden; 
}

.picture::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(#0000 0.0000045%, #0d0b0f 0.0005%);
  mix-blend-mode: overlay;
  transition: 0.8s;
  border-radius: inherit; 
}

.pictureElements {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(#0000 0.0000045%, #0d0b0f 0.0005%);
  mix-blend-mode: overlay;
  transition: 0.8s;
  border-radius: inherit; 
}

